* {
  font-family: "Libertinus Mono", monospace;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  display: flex;

}

.slogan {
  padding-top: 8px;
  padding-left: 10px;
}

:root {
  --brown: rgb(252, 253, 254);
}

#buttonBTN {
  background-color: var(--brown);
  color: rgb(11, 0, 0);
}

#buttonBTN:hover {
  background-color: rgb(9, 92, 234);

  color: var(--brown);

}


@media(max-width:992px) {
  .nav-item i {
    display: none;
  }
}

.nav-item:hover {
  background-color: rgb(9, 92, 234);


}

#section1 {
  /* padding-left: 735px;
    padding-top: 80px; */
  background-color: whitesmoke;

}

.img-section {
  padding-left: 735px;
  padding-top: 80px;

}


/* #main {
    background-image: url(./bg-image\ -\ Copy.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

} */
.text-section {

  text-align: left;


}

#section2 {
  text-decoration: none;

}


#section3 {
  padding: 150px;
  width: 100%;
  height: 100vh;
}

.box {
  width: 200px;
  height: 300px;
  background-color: rgb(241, 237, 237);
  font-size: 15px;
  transition: all 0.3s ease;
}

.box:hover {
  width: 210px;
  height:450px;
  .rectangle{
  padding: 100px;
}
}
@media(min-width:1000px){
  .head-section4{
    margin-left: 150px;
    margin-top: 150px;
  }
}
  
 
  

#section5{
  margin-bottom: 50px;
}
/* .head-section5{
  width:200px;

} */
#sector{
  text-decoration: none;
  list-style: none;
  font-size: 30px;
  font-weight: 800;

}
#para1{
  width:300px;
  font-weight: 700;
}
/* #section5 h4{
  width:250px;
  font-weight: 800;
} */
/* .sector-2{
  padding:50px;

  
} */
/* #section5 sector-2{
  padding-bottom: 20%;
} */
/* .sector-2 h4{
  font-weight: 300;
  font-size: 15px;
  
} */

#sector-3 h1{
  padding: 50px;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
}
.headsector{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  
}
/* .linksector{
  text-decoration: none;
} */
 .headlink{
  text-decoration: none;
  color: black;
  font-weight: 600;
  
 }
 .headlink h4{
  width:500px;
 }
 .sector4-head{
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  padding-top: 50px;
 }
 .head-footer{
  padding-top: 30px;
  background-color: #0c0c0cdb;
  height: 100vh;
  color: white;
  width:100%;
  margin: 0;
 
 }
 .language-head{
  display: flex;
  justify-content: space-around;
  padding:5px 2px;
  text-decoration: none;
  list-style: none;
 }
 .language{
  padding:60px;
 }
 .language-1{

  padding:35px;
 }
 
 .bmwhead{
  padding:25px;
 }

 
